@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.list {
  @apply list-disc marker:text-red-600 *:my-3
}

.h1 {
  @apply text-2xl font-bold my-6 text-center
}

.h2 {
  @apply text-lg font-semibold my-6 text-emerald-800;
}

p {
  @apply my-3
}

.important {
  @apply text-red-600 font-semibold
}